<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
 
  <form style="padding-top: 30px;padding-bottom: 50px;" [formGroup]="loginForm"  (ngSubmit)="submit()">
    <ion-row>
      <ion-col style="padding: 10px;">
      
        To bookmark favorites, view search history and have full access to Best Of Local features, create an account here:
      </ion-col>
 
    </ion-row>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" inputmode="email" formControlName="email" required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" inputmode="text" formControlName="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button color="medium" type="submit" expand="block" >Sign In</ion-button>
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col style="text-align: center;">
        OR
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button (click)="loginByFacebook()" color="tertiary" expand="block" >Sign In with Facebook</ion-button>
      </ion-col>
    </ion-row>  
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button (click)="loginByGoogle()" color="danger" expand="block" >Sign In with Google</ion-button>
      </ion-col>
    </ion-row>  
    <ion-row *ngIf="showLoginByApple === true">
      <ion-col style="text-align: center;">
        <ion-button (click)="loginByApple()" color="light" fill="outline" expand="block" >Sign In with Apple</ion-button>
      </ion-col>
    </ion-row>  
  </form>
  <div style="text-align: center;margin-top: 25px;">
    <a (click)="gotoReset()" class="small-text">Forgot Password?</a>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col style="text-align: center;">
        If you don't have an account, please
        <ion-button (click)="gotoRegister()" expand="block" color="medium">Register</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>