<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Delete Your Account</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <p class="delete-account-info">When you delete your account, your profile and data will be permanently removed.</p>
  <form style="padding-top: 50px;padding-bottom: 50px;" [formGroup]="deleteForm"  (ngSubmit)="submit()">
    <ion-item lines="full">
      <ion-label position="floating">Confirm your email to continue</ion-label>
      <ion-input type="email" inputmode="email" formControlName="email" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button color="danger" type="submit" expand="block" >Confirm delete my account</ion-button>
      </ion-col>
    </ion-row>  
  </form>
</ion-content>
