<ion-header [translucent]="true">
  <ion-toolbar>
     <ion-buttons slot="start">
       <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{folder}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title size="large">{{folder}}</ion-title>
    </ion-toolbar>


  </ion-header>
  <ion-searchbar showCancelButton="never" (ionInput)="filterList($event)"  ></ion-searchbar>
  <div id="container" class="card-background-page">
    <ion-card (click)="goToBussines(category)" *ngFor="let category of subcategories; let i = index; "  >
    <img  src="{{category.cat_icon}}" class="img-background" />
    <div class="card-title"></div>   
     <div class="card-label">{{category.subcat_name}}</div>  
    </ion-card>

    <ion-card   *ngFor="let bus of business; let ind = index; "  >
    <img  src="{{bus.body_image}}" (click)="goToBussinesDetail(bus)" class="img-background" />
    <div class="card-title"></div>   
     <div class="card-label">{{bus.Name}}</div>
     <div class="card-distance" *ngIf="bus.showMap" > <ion-icon name="paper-plane"></ion-icon> {{bus.distance}} MI</div>  
     <ion-fab-button  *ngIf="bus.showMap" (click)="map(bus)" color="light" size="small" class=" button-map"><ion-icon name="map"></ion-icon></ion-fab-button>
     <ion-fab-button *ngIf="bus.showCall" (click)="call(bus)" color="light" size="small" class=" button-call"><ion-icon name="call"></ion-icon></ion-fab-button>
     <ion-fab-button (click)="share(bus)" color="light" size="small" class=" button-share"><ion-icon name="share-social"></ion-icon></ion-fab-button>
    </ion-card>



  </div>
</ion-content>
