.card-background-page ion-card {
    margin:0;
    margin-bottom: -3px;
}

.card-background-page .card-title {
    font-size: 2em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    color: aliceblue;
    text-align: left;
    background-color: darkgray;
    padding-left: 8px;
    padding-bottom: 8px;
    opacity: 0.3;
    padding-top: 8px;
    top:unset;
    height:100px;
}
.card-title {
  z-index:999;
}

.card-label{
    position: absolute;
    bottom: 40px;
    left: 8px;
    font-size: 3.5em;
    font-weight: bolder;
    color: white;
    -webkit-text-stroke: 1px black;
}

.card-distance{
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 2em;
    font-weight: bolder;
    color: crimson;
    -webkit-text-stroke: 1px black;
}

@media (max-width: 576px) {
    .card-label {
      font-size: 2.5rem !important;
    }
    .card-distance {
      font-size: 1.0em;
    }
}

.button-business{
    position: absolute;
}

.button-card-group{
   @extend .button-business;
   top: 8px;
   right: 8px;

}
.button-card{
  float:right;

}
