
.card-background-page ion-card {
    margin:0;
    margin-bottom: 0px;
}

.card-background-page .card-title {
    font-size: 2em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    color: aliceblue;
    text-align: left;
    background-color: darkgray;
    padding-left: 8px;
    padding-bottom: 8px;
    opacity: 0.3;
    padding-top: 8px;
    top:unset;
    height:50px;
}
.card-title {
  z-index:9;
}

.card-label{
    position: absolute;
    bottom: 10px;
    left: 8px;
    font-size: 3.5em;
    font-weight: bolder;
    color: white;
    text-align:left;
    -webkit-text-stroke: 1px black;
}

.bus-name-label {
  bottom: 50px !important;
}

.card-distance{
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 2em;
    font-weight: bolder;
    color: crimson;
    -webkit-text-stroke: 1px black;
}

.background-card-label {
  background-color: #CCCDCD;
  width: 100%;
  position: absolute;
    bottom: 32px;
    font-size: 3.5em;
    font-weight: bolder;
    color: #bfbfbf;
    text-align: left;
    padding: 3px;
    -webkit-text-stroke: 0.5px black;
}


@media (max-width: 576px) {
    .card-label {
      font-size: 1.9em !important;
    }
    .card-distance {
      font-size: 1.0em;
    }
    .background-card-label {
      font-size: 14px !important;
    }
}


.button-business{
    position: absolute;
}

.button-card-group{
   @extend .button-business;
   bottom: 0px;
   right: 8px;
   z-index:9;

}
.button-card{
  float:right;
  width: 28px;
  height: 28px;
}

.card-basic-style-subcategories {
  border-radius: 10px !important;
}

.card-basic-style-business {
  border-radius: 20px !important;

  .card-title {
    background-color: transparent !important;
  }
}

.segment-buttons {
  z-index: 99;
}


ion-fab-button {
  --background:transparent !important;
}