.card-background-page ion-card {
    margin:0;
    margin-bottom: -3px;
}

.card-background-page .card-title {
    font-size: 2em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-weight: bold;
    color: aliceblue;
    text-align: left;
    background-color: darkgray;
    padding-left: 8px;
    padding-bottom: 8px;
    opacity: 0.4;
    padding-top: 8px;
    top:unset;
    height:100px;
}

.card-label{
    position: absolute;
    bottom: 40px;
    left: 8px;
    font-size: 3.5em;
    font-weight: bolder;
    color: white;
}

.card-distance{
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 2em;
    font-weight: bolder;
    color: crimson;
}
.button-business{
    position: absolute;
}

.button-map{
   @extend .button-business;
   top: 8px;
   right: 8px;

}
.button-call{
   @extend .button-business;
   top: 8px;
   right: 54px;

}
.button-share{
   @extend .button-business;
   top: 8px;
   right: 100px;

}