<ion-header>
	<ion-toolbar>
	  <ion-buttons slot="start">
		<ion-back-button defaultHref="/"></ion-back-button>
	  </ion-buttons>
	  <ion-title>Select a location</ion-title>
	</ion-toolbar>
  </ion-header>
  

<ion-content [fullscreen]="true">
  
  <ion-searchbar showCancelButton="never" (ionInput)="filterList($event)"   placeholder="Search for"></ion-searchbar>
  <div id="container" >
    <ion-list>
	  <ion-item *ngFor="let location of filterLocations" (click)="selectLocation(location)">
	  	<ion-thumbnail slot="start">
		    <ion-img [src]="location.picture?location.picture:'https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y'"></ion-img>
		</ion-thumbnail>
	    <ion-label class="ion-text-wrap">
	        <ion-text >
	          <h3>{{ location.Name }}</h3>
	        </ion-text>
	        <p>{{ location.Description }}</p>
      </ion-label>
	  </ion-item>
    </ion-list>
  </div>
</ion-content>
