<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>MAP VIEW </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-back-button></ion-back-button>
      <ion-title size="large">MAP VIEW </ion-title>
    </ion-toolbar>


  </ion-header>
  <agm-map
   [style.height.px]="height"
   [latitude]="lat"
   [longitude]="lng">
    
       <agm-direction 
        *ngFor="let dir of directions"
        
        [origin]="dir.origin"
        [destination]="dir.destination"
    >
    </agm-direction>
     
  </agm-map>
</ion-content>
