.button-business{
    position: absolute;
}

.button-card-group{
   @extend .button-business;
   top: 8px;
   right: 8px;

}
.button-card{
  float:right;

}

agm-map {
      height: 300px;
      width: 100%;
    }
.detail-icon{
   width:15px;
   margin-right: 5px;
}