<!--ion-header [translucent]="true" style="height: 20px;">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header -->

<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="1" pullMin="100" pullMax="200">
    <ion-refresher-content
      pullingIcon="lines-small"
      pullingText="Pull to refresh"
      refreshingSpinner="lines-small"
    >
    </ion-refresher-content>
  </ion-refresher>
  
  <ion-fab vertical="top" horizontal="end"  style="right: 57px;top:30px;opacity: 0.90">
    <ion-fab-button (click)="toogleBookmark()" size="small">
        <ion-icon *ngIf="!bookmark" name="custom-white-fill-bookmark"></ion-icon>
        <ion-icon *ngIf="bookmark" name="custom-white-sunburst-bookmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="top" horizontal="end" style="top:30px;opacity: 0.90">
    <ion-fab-button (click)="shareBusiness()" size="small">
      <ion-icon name="custom-white-fill-share-arrow"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  
  <div id="container" class="card-background-page" [style.background-color]="bus.Logo_Background_Color">
   
    <ion-card    class="business-details-card " [style.background-color]="bus.Logo_Background_Color">
    <img  src="{{bus.body_image}}" (click)="openBusinessUrl()" class="img-background" />
       
    <div class="container-top-left"  *ngIf="is_classifieds == '1' && bus.is_classified && bus.is_classified == '1'">
      <div class="top-left" ><img src="../../assets/member.png"></div>
    </div>
    <!--div class="button-card-group">  
      <ion-fab-button *ngIf="bus.showMap" (click)="map(bus)" color="light" size="small" class="button-card"><ion-icon name="location-sharp"></ion-icon></ion-fab-button>
       <ion-fab-button *ngIf="bus.showCall" (click)="call(bus)" color="light" size="small" class="button-card"><ion-icon name="call"></ion-icon></ion-fab-button>
       <ion-fab-button (click)="share(bus)" color="light" size="small" class="button-card"><ion-icon name="share-social"></ion-icon></ion-fab-button>
    </div -->
    <ion-card-subtitle *ngIf="bus.summary && bus.summary.length>0" class="summary">
      {{bus.summary}}
    </ion-card-subtitle>
    </ion-card>
    
    <ion-list class="business-details-list">
      
	  <ion-item *ngIf="bus.showCall" (click)="call(bus)" class="item-background-color">
	    <ion-icon name="call" class="detail-icon"></ion-icon><ion-label> {{bus.call_label?bus.call_label+":":""}}{{bus.call}}</ion-label>
	  </ion-item>
	  <ion-item *ngIf="bus.showMap" (press)="copyAddress(bus)" (click)="map(bus)" class="item-background-color">
	    <ion-icon name="map" class="detail-icon"></ion-icon><ion-label> {{bus.address_label?bus.address_label+":":""}}{{bus.address}}</ion-label>
	  </ion-item>
    <ion-item (click)="propAction(prop)" *ngFor="let prop of properties; " class="item-background-color">
        <ion-icon name="{{getPropertyIcon(prop.property)}}" class="detail-icon"></ion-icon><ion-label> {{prop.label}}</ion-label>
    </ion-item>
    <ion-item (click)="openShareExperienceLink()" *ngIf="bus.Display_Share_Experience_Link && bus.Display_Share_Experience_Link == '1'" class="item-background-color">
      <ion-icon name="arrow-redo"  class="detail-icon"></ion-icon><ion-label>SHARE YOUR PHOTOS & EXPERIENCES</ion-label>
    </ion-item>
    </ion-list>
    <agm-map *ngIf="bus.showMap"
	   [latitude]="latitude"
	   [longitude]="longitude">
	    
	       <agm-marker [latitude]="latitude" [longitude]="longitude" (markerClick)="openNavigator($event)"></agm-marker>
     
    </agm-map>


  </div>
</ion-content>
