<ion-content [fullscreen]="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="1" pullMin="100" pullMax="200">
    <ion-refresher-content pullingIcon="lines-small" pullingText="Pull to refresh" refreshingSpinner="lines-small">
    </ion-refresher-content>
  </ion-refresher>

  <ion-fab vertical="top" horizontal="end" style="right: 57px;top:30px;">
    <ion-fab-button (click)="toogleBookmark()" size="small">
      <ion-icon *ngIf="!bookmark" name="custom-white-fill-bookmark"></ion-icon>
      <ion-icon *ngIf="bookmark" name="custom-white-sunburst-bookmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="top" horizontal="end" style="top:30px;">
    <ion-fab-button (click)="shareBusiness()" size="small">
      <ion-icon name="custom-white-fill-share-arrow"></ion-icon>
    </ion-fab-button>
  </ion-fab>



  <div id="container" class="card-background-page" [style.background-color]="bus.Logo_Background_Color">

    <ion-card class="business-details-card " [style.background-color]="bus.Logo_Background_Color">
      <img src="{{bus.body_image}}" (click)="openBusinessUrl()" class="img-background" alt="image" />

      <div class="container-top-left" (click)="openBusinessUrl()"
        *ngIf="is_classifieds == '1' && bus.is_classified && bus.is_classified == '1'">
        <div class="top-left"><img src="../../assets/member.png" alt="image"></div>
      </div>

      <ion-card-subtitle *ngIf="bus.summary && bus.summary.length>0" class="summary"
        (click)="showFullSummary = !showFullSummary">
        {{ bus.summary | slice: 0 : (showFullSummary ? bus.summary.length : 100 ) }}
        <span *ngIf="!showFullSummary && bus.summary.length >=100">... (see more)</span>
        <span *ngIf="showFullSummary && bus.summary.length >=100"> (see less)</span>
        <br><br>
        <label *ngIf="showFullSummary" style="text-transform: uppercase !important">This service is found in the following App category(s):</label>
        <br *ngIf="showFullSummary">
        <ul *ngIf="showFullSummary">
          <li *ngFor="let sc of subcategories; " (click)="is_classifieds == '1' && bus.is_classified && bus.is_classified == '1' ? null : openSubcategory(sc)" style="padding-top: 5px;">
            {{sc.subcat_name}}
          </li>
        </ul>
      </ion-card-subtitle>
    </ion-card>

    <!-- iframe src="https://player.vimeo.com/video/226053498?h=a1599a8ee9" width="100%"
    height="320px" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe -->

    <ion-list class="business-details-list">

      <ion-item *ngIf="bus.showCall" (click)="call(bus)" class="item-background-color">
        <ion-icon name="call" class="detail-icon"></ion-icon><ion-label>
          {{bus.call_label?bus.call_label+":":""}}{{bus.call}}</ion-label>
      </ion-item>
      <ion-item *ngIf="bus.showMap" (press)="copyAddress(bus)" (click)="map(bus)" class="item-background-color">
        <ion-icon name="map" class="detail-icon"></ion-icon><ion-label>
          {{bus.address_label?bus.address_label+":":""}}{{bus.address}}</ion-label>
      </ion-item>
      <ion-item (click)="propAction(prop)" *ngFor="let prop of properties; " class="item-background-color">
        <ion-icon name="{{getPropertyIcon(prop.property)}}" class="detail-icon"></ion-icon><ion-label>
          {{prop.label}}</ion-label>
      </ion-item>
      <ion-item (click)="openShareExperienceLink()"
        *ngIf="bus.Display_Share_Experience_Link && bus.Display_Share_Experience_Link == '1'"
        class="item-background-color">
        <ion-icon name="arrow-redo" class="detail-icon"></ion-icon><ion-label>SHARE YOU EXPERIENCE</ion-label>
      </ion-item>
    </ion-list>

    <ion-grid *ngIf="ad != null && ad.qpId" class="address-container">
      <ion-row>
        <ion-col>
          <img src="{{ad.Ad_Image}}" (click)="openAdurl()" width="100%" alt="image">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <img src="../../assets/share.png" (click)="shareAdLink()" width="100%" alt="image">
        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-slides pager="true" *ngIf="bus.photosArray && bus.photosArray.length>0" [options]="slideOpts"
      [style.height.px]="sliderImageHeight" style="background-color: #fff;">
      <ion-slide *ngFor="let image of bus.photosArray" [style.height.px]="sliderImageHeight">
        <img src="{{image}}" [style.height.px]="sliderImageHeight" (click)="openMedia(image,'image')"
          style='width: 100%; object-fit: fill' alt="image">
      </ion-slide>
    </ion-slides>

    <div class="video-container"
      *ngIf="bus.Video_Thumbnail && bus.Video_URL && bus.Video_Thumbnail.length>2 && bus.Video_URL">
      <img src="{{bus.Video_Thumbnail}}" (click)="openMedia(bus.Video_URL,'video')" alt="image"
        [style.height.px]="sliderImageHeight" style='width: 200px; object-fit: fill'>
      <img class="play-icon" (click)="openMedia(bus.Video_URL,'video')" src="../../assets/play.png" width="80px"
        alt="image">
    </div>

    <!-- ion-grid *ngIf="category != null" class="address-container" style="padding: 10px;font-size: 12px;">
      <ion-row>
        <ion-col style="width: 100%;" (click)="openCategory()">
          {{category.cat_name}}
        </ion-col>
      </ion-row>
    </ion-grid -->

    <agm-map *ngIf="bus.showMap" [latitude]="latitude" [longitude]="longitude">

      <agm-marker [latitude]="latitude" [longitude]="longitude" (markerClick)="openNavigator($event)"></agm-marker>

    </agm-map>

  </div>
</ion-content>