<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-fab vertical="top" horizontal="end" slot="fixed" style="right: 57px;opacity: 0.25">
    <ion-fab-button (click)="toogleBookmark()" size="small">
        <ion-icon *ngIf="!bookmark" name="bookmark-outline"></ion-icon>
        <ion-icon *ngIf="bookmark" name="bookmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-fab vertical="top" horizontal="end" slot="fixed" style="opacity: 0.25">
    <ion-fab-button (click)="shareBusiness()" size="small">
      <ion-icon name="arrow-redo-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>


  
  <div id="container" class="card-background-page">
   
    <ion-card    class="business-details-card ">
    <img  src="{{bus.body_image}}" (click)="openBusinessUrl()" class="img-background" />
       
    <div class="container-top-left" *ngIf="bus.is_classified && bus.is_classified == '1'">
      <div class="top-left" >Sponsored</div>
    </div>
    <!--div class="button-card-group">  
      <ion-fab-button *ngIf="bus.showMap" (click)="map(bus)" color="light" size="small" class="button-card"><ion-icon name="location-sharp"></ion-icon></ion-fab-button>
       <ion-fab-button *ngIf="bus.showCall" (click)="call(bus)" color="light" size="small" class="button-card"><ion-icon name="call"></ion-icon></ion-fab-button>
       <ion-fab-button (click)="share(bus)" color="light" size="small" class="button-card"><ion-icon name="share-social"></ion-icon></ion-fab-button>
    </div -->
    <ion-card-subtitle *ngIf="bus.summary && bus.summary.length>0" class="summary">
      {{bus.summary}}
    </ion-card-subtitle>
    </ion-card>
    
    <ion-list class="business-details-list">
      <ion-item (click)="openShareExperienceLink()" *ngIf="bus.Display_Share_Experience_Link && bus.Display_Share_Experience_Link == '1'" class="item-background-color">
        <ion-icon name="arrow-redo"  class="detail-icon"></ion-icon><ion-label>SHARE YOUR PHOTOS & EXPERIENCES</ion-label>
      </ion-item>
	  <ion-item *ngIf="bus.showCall" (click)="call(bus)" class="item-background-color">
	    <ion-icon name="call" class="detail-icon"></ion-icon><ion-label> {{bus.call_label?bus.call_label+":":""}}{{bus.call}}</ion-label>
	  </ion-item>
	  <ion-item *ngIf="bus.showMap" (press)="copyAddress(bus)" (click)="map(bus)" class="item-background-color">
	    <ion-icon name="map" class="detail-icon"></ion-icon><ion-label> {{bus.address_label?bus.address_label+":":""}}{{bus.address}}</ion-label>
	  </ion-item>
    <ion-item (click)="propAction(prop)" *ngFor="let prop of properties; " class="item-background-color">
      <ion-icon name="{{prop.property==='URL'?'aperture':prop.property==='Email'?'mail':prop.property==='Phone'?'call':prop.property==='Facebook'?'logo-facebook':prop.property==='Instagram'?'logo-instagram':''}}" class="detail-icon"></ion-icon><ion-label> {{prop.label}}</ion-label>
    </ion-item>
    
    </ion-list>
    <agm-map *ngIf="bus.showMap"
	   [latitude]="latitude"
	   [longitude]="longitude">
	    
	       <agm-marker [latitude]="latitude" [longitude]="longitude" (markerClick)="openNavigator($event)"></agm-marker>
     
    </agm-map>


  </div>
</ion-content>
