<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu side="start" menuId="first" contentId="main-content" >
      <ion-header>
        <ion-toolbar color="medium">
          <ion-title>{{locationName}}</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list id="inbox-list">
          
 <!--[class.selected]="selectedIndex == i" -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index" >
            <ion-item (click)="p.action(p.url,i)" routerDirection="root"  lines="none" detail="false" >
              <ion-icon  slot="start" [icon]="p.icon" color="menu"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="main-content"></ion-router-outlet>

    <ion-tabs >
      <!-- Tab bar -->
      <ion-tab-bar slot="bottom" class="bar-bottom">
        <ion-tab-button *ngIf="showBackButton()">
          <ion-back-button defaultHref="{{getBackUrl()}}" class="back-button" icon="custom-grey-arrow" text=""></ion-back-button>
        </ion-tab-button>
        <ion-tab-button (click)="openMenu()">
          <ion-icon name="custom-grey-menu"></ion-icon>
        </ion-tab-button>
        <ion-tab-button *ngFor="let p of bottomPages" (click)="gotoPage(p)" [class.share-icon]="p.icon == 'share-outline'" >
          <ion-icon [name]="p.icon" ></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-split-pane>
</ion-app>
