<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu side="start" menuId="first" contentId="main-content" >
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header></ion-list-header>

 <!--[class.selected]="selectedIndex == i" -->
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index" >
            <ion-item (click)="p.action(p.url,i)" routerDirection="root"  lines="none" detail="false" >
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'" color="menu"></ion-icon>
              <ion-label>{{ p.title }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

        
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="main-content"></ion-router-outlet>

    <ion-tabs >
      <!-- Tab bar -->
      <ion-tab-bar slot="bottom" class="bar-bottom">
        <ion-tab-button *ngIf="showBackButton()">
          <ion-back-button defaultHref="{{getBackUrl()}}"></ion-back-button>
        </ion-tab-button>
        <ion-tab-button (click)="openMenu()">
          <ion-icon name="menu-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="chatbubble-outline"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="logo-facebook"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="logo-instagram"></ion-icon>
        </ion-tab-button>
        <ion-tab-button>
          <ion-icon name="mail-outline"></ion-icon>
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-split-pane>
</ion-app>
