<ion-header>
  <ion-toolbar>
    <ion-title>My Favorites</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar showCancelButton="never" (ionInput)="filterList($event)"  ></ion-searchbar>
  <div id="container" class="card-background-page">
  <ion-card   *ngFor="let bus of bookmarks; let ind = index; "  class="card-basic-style-subcategories" >
    <ion-img  [src]="bus.body_image" (click)="goToBussinesDetail(bus)" class="img-background" (ionImgDidLoad)="bus.$showSegmentButtons = true"  ></ion-img>
    <div *ngIf="bus.showMap || !(bus.name_display_off=='1')" class="card-title" (click)="goToBussinesDetail(bus)"></div>   
     <div class="card-label" *ngIf="!(bus.name_display_off=='1')" >{{bus.Name}}</div>
     <div>
      <ion-segment class="segment-buttons" *ngIf="bus.$showSegmentButtons">
        <ion-segment-button (click)="share(bus)">
          <ion-icon name="share-social"></ion-icon>
        </ion-segment-button>
        <ion-segment-button *ngIf="bus.showCall" (click)="call(bus)">
          <ion-icon name="call"></ion-icon>
        </ion-segment-button>
        <ion-segment-button *ngIf="bus.showMap" (click)="map(bus)">
          <ion-icon name="location-sharp"></ion-icon>
        </ion-segment-button>
        <ion-segment-button *ngIf="bus.showMap" (click)="map(bus)">
          <ion-label>{{bus.distance}} MI</ion-label>
        </ion-segment-button>
      </ion-segment>
     </div>
    </ion-card>
    </div>
</ion-content>
