<ion-header>
  <ion-toolbar>
    <ion-title>{{fromFirebaseUID != null ? (fromEmail + ' favorites') : 'My Favorites'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-fab vertical="top" horizontal="start" style="z-index: 999;opacity: 0.9;top:30px" *ngIf="fromFirebaseUID == null">
  <ion-fab-button (click)="gotoGlobalShare()" size="small">
    <ion-icon name="globe-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-fab vertical="top" horizontal="end" style="z-index: 999;opacity: 0.9;top:30px" *ngIf="fromFirebaseUID == null">
  <ion-fab-button (click)="shareBookmark()" size="small">
    <ion-icon name="custom-arrow-right"></ion-icon>
  </ion-fab-button>
</ion-fab>

<ion-content>
  <!--ion-searchbar showCancelButton="never" (ionInput)="filterList($event)"  ></ion-searchbar -->
  <div id="container" class="card-background-page">
    
  <ion-card   *ngFor="let bus of bookmarks; let ind = index; "  class="card-basic-style-subcategories" >
    <ion-img  [src]="bus.body_image" (click)="goToBussinesDetail(bus)" class="img-background" (ionImgDidLoad)="bus.$showSegmentButtons = true"  ></ion-img>
    <div class="container-top-left" (click)="goToBussinesDetail(bus)" *ngIf="bus.is_classified && bus.is_classified == '1'">
      <div class="top-left" ><img src="../../../assets/member.png"></div>
    </div>
    <div *ngIf="bus.showMap || !(bus.name_display_off=='1')" class="card-title" (click)="goToBussinesDetail(bus)"></div>   
     <div class="card-label" *ngIf="!(bus.name_display_off=='1')" >{{bus.Name}}</div>
     <div>
      <ion-segment class="segment-buttons" *ngIf="bus.$showSegmentButtons">
        <ion-segment-button (click)="share(bus)">
          <ion-icon name="arrow-redo"></ion-icon>
        </ion-segment-button>
        <ion-segment-button *ngIf="bus.showCall" (click)="call(bus)">
          <ion-icon name="call"></ion-icon>
        </ion-segment-button>
        <ion-segment-button *ngIf="bus.showMap" (click)="map(bus)">
          <ion-icon name="location-sharp"></ion-icon>
        </ion-segment-button>
        <ion-segment-button *ngIf="bus.showMap" (click)="map(bus)">
          <ion-label>{{bus.distance}} MI</ion-label>
        </ion-segment-button>
      </ion-segment>
     </div>
    </ion-card>
    </div>
</ion-content>
