/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
  font-family: "SF Pro";
  src: url("assets/fonts/FontsFree-Net-SFProDisplay-Thin.ttf");
}
@font-face {
  font-family: "SF Pro";
  src: url("assets/fonts/FontsFree-Net-SFProDisplay-Semibold.ttf");
  font-weight: bolder;
}
@font-face {
  font-family: "SF Pro";
  src: url("assets/fonts/FontsFree-Net-SFProDisplay-Bold.ttf");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "SF Pro";
  src: url("assets/fonts/FontsFree-Net-SFProDisplay-LightItalic.ttf");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "FamiliarProBold";
  src: url("assets/fonts/Familiar-Pro-Bold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "HelmetRegular";
  src: url("assets/fonts/Helmet-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AlteHaasGroteskRegular";
  src: url("assets/fonts/AlteHaasGroteskRegular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AlteHaasGroteskBold";
  src: url("assets/fonts/AlteHaasGroteskBold.ttf");
  font-weight: bold;
  font-style: normal;
}

* {
  font-family: 'SF Pro' !important;
}
.card-background-page {

  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 4.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
    line-height: 100%;
    -webkit-text-stroke: 1px black;
  }

  .card-subtitle {
    font-size: 3.0em;
    position: absolute;
    top: 52%;
    width: 100%;
    color: #fff;
  }

  @media (max-width: 576px) {
    .card-title {
      font-size: 2rem !important;
    }
    .card-subtitle {
      font-size: 1.0em;
    }
  }
  .img-background{
     width:100%;
     object-fit: cover;
  }

}

.selected {
    --color: var(--ion-color-primary-shade);
}

.ios ion-toolbar ion-button, .ios ion-toolbar ion-back-button {
    --color: var(--ion-text-color);
}
.ion-color-menu {
  --ion-color-base: var(--ion-color-menu);
  --ion-color-base-rgb: var(--ion-color-menu-rgb);
  --ion-color-contrast: var(--ion-color-menu-contrast);
  --ion-color-contrast-rgb: var(--ion-color-menu-contrast-rgb);
  --ion-color-shade: var(--ion-color-menu-shade);
  --ion-color-tint: var(--ion-color-menu-tint);
}

.container-top-left {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;

  .top-left {
    opacity: 0.7;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 12px;
    width: 300px;
    border-bottom-right-radius: 20px;
    text-align: left;
    background-color:transparent;
    color:#232428;
    font-size: 16px !important;
  }
} 

.my-alert-class {
  --background: #e5e5e5;
}

/* DOES NOT WORK - not specific enough */
.alert-wrapper {
  background: #e5e5e5;
}

/* Works - pass "my-custom-class" in cssClass to increase specificity */
.my-alert-class .alert-wrapper {
  background: #e5e5e5;
}

.my-alert-class .alert-wrapper  h2 {
  color: black !important;
}

.my-alert-class .alert-wrapper  .alert-message {
  color: black !important;
}