<ion-header [translucent]="true">
  <ion-toolbar style="cursor: pointer;">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title (click)="gotoSearch()">BEST OF {{location.address_level_2 }}</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <div #container id="container" class="card-background-page"  >
    <ion-card (click)="setOption(i,category);" class="card-basic-style selected" [class.overlap]="i>0" *ngFor="let category of categorys; let i = index;" id="{{category.viewId}}">
      <ion-img  [src]="getImage(category.cat_icon)" class="img-background"  ></ion-img>
      <div class="card-title" *ngIf="!category.hide_name" >{{category.cat_name}}</div>
     
    </ion-card>

  </div>

 
</ion-content>
