
#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  //overflow-y: hidden;
  height: calc(100% - 56px);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

#container a {
  text-decoration: none;
}

.card-background-page ion-card {
    margin:0;
    margin-bottom: -3px;
    height:20vh;
}

.card-background-page .selected, ion-card .selected{
    height:40vh;
}

.card-background-page .overlap {
  margin-top: -35px !important;
}

.selected .img-background{
     height:100%;
}

.card-basic-style {
  border-radius: 20px !important;
}
