<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133405061081-6bdf1mtodasb84bqumjsfrq1erksstrv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133405061081-6bdf1mtodasb84bqumjsfrq1erksstrv</string>
	<key>API_KEY</key>
	<string>AIzaSyAvphcq0vaQMIDeUcGUHmUmvL5xNrLlsBM</string>
	<key>GCM_SENDER_ID</key>
	<string>133405061081</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bestof</string>
	<key>PROJECT_ID</key>
	<string>best-of-local</string>
	<key>STORAGE_BUCKET</key>
	<string>best-of-local.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133405061081:ios:303cfb87f1b32f4afd73c8</string>
</dict>
</plist>