<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>862624733799-jj0is8p50jsskvfqmcmr3hidcunsdv30.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.862624733799-jj0is8p50jsskvfqmcmr3hidcunsdv30</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>862624733799-hoc4rvvbhqs0gidch8qp3ht91ucvo327.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDSSKBEff6VGczGcbMU5rzkoM6DkI58pPI</string>
	<key>GCM_SENDER_ID</key>
	<string>862624733799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.korsoftcorp.bestof.ios</string>
	<key>PROJECT_ID</key>
	<string>best-of-284020</string>
	<key>STORAGE_BUCKET</key>
	<string>best-of-284020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:862624733799:ios:d3ccfa64a90480bf0792c2</string>
	<key>DATABASE_URL</key>
	<string>https://best-of-284020.firebaseio.com</string>
</dict>
</plist>