<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Best of Local</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>FirebaseAutomaticScreenReportingEnabled</key>
	<string>$AUTOMATIC_SCREEN_REPORTING_ENABLED</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_ENABLED</key>
	<string>$ANALYTICS_COLLECTION_ENABLED</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.getcapacitor.capacitor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>capacitor</string>
				<string>fb869290007336995FACEBOOK_URL_SCHEME_SUFFIX_PLACEHOLDER</string>
				<string>OTHER_APP_SCHEMES_PLACEHOLDER</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fb</string>
		<string>citymapper</string>
		<string>comgooglemaps</string>
		<string>navigon</string>
		<string>transit</string>
		<string>waze</string>
		<string>yandexnavi</string>
		<string>uber</string>
		<string>tomtomhome</string>
		<string>com.sygic.aura</string>
		<string>here-route</string>
		<string>moovit</string>
		<string>lyft</string>
		<string>mapsme</string>
		<string>cabify</string>
		<string>baidumap</string>
		<string>taxis99</string>
		<string>iosamap</string>
		<string>mailto</string>
		<string>fbapi</string>
		<string>fb-messenger-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSExceptionDomains</key>
	<dict>
		<key>facebook.com</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>To Take Photos and Video</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Best Of Local helps you find local business and services. Enable Location Services so we can show you the businesses in your area.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Best Of Local helps you find local business and services. Enable Location Services so we can show you the businesses in your area.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Best Of Local helps you find local business and services. Enable Location Services so we can show you the businesses in your area.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>To Record Audio With Video</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Store camera photos to camera</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To Pick Photos from Library</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>FacebookUrlSchemeSuffix</key>
	<string>FACEBOOK_URL_SCHEME_SUFFIX_PLACEHOLDER</string>
	<key>FacebookDisplayName</key>
	<string>Best Of</string>
	<key>FacebookAdvertiserIDCollectionEnabled_PLACEHOLDER</key>
	<string>FACEBOOK_ADVERTISER_ID_COLLECTION_PLACEHOLDER</string>
	<key>FacebookAppID</key>
	<string>869290007336995</string>
	<key>FacebookHybridAppEvents</key>
	<string>$FACEBOOK_HYBRID_APP_EVENTS</string>
	<key>FacebookAutoLogAppEventsEnabled_PLACEHOLDER</key>
	<string>FACEBOOK_AUTO_LOG_APP_EVENTS_PLACEHOLDER</string>
</dict>
</plist>
